parameters:
    level: 8
    paths:
        - .
    excludePaths:
        - Test/**
        - Logger/Handler/Sentry.php
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
includes:
    - ../../../dev/tests/static/testsuite/Magento/Test/Php/_files/phpstan/phpstan.neon
